.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
 	*zoom: 1;
}

body {
	margin: 0 auto;
	min-width: 320px;
}

.container {
	max-width: 1015px;
	margin: 0 auto;
}

/*------------------------------HEADER---------------------------------*/

header {
	position: relative;
	overflow: hidden;
}

.header {
	width: 100%;
	background-color: transparent;
	position: fixed; 
	z-index: 1;
}

.header__content {
	padding: 40px 0;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	transition: all 0.3s;
}

.fixed {
	background-color: rgba(0, 0, 0, 0.95);
}
.fixed .header__content {
	border-bottom: 1px solid rgba(255, 255, 255, 1.0);
	padding: 25px 0;
}

.logo {
	float: left;
}

.logo a {
	font: 40px/1 Sprite-Graffiti-Shadow, Arial, sans-serif;
	color: #fff;
	display: block;
	text-decoration: none;
}

.navigation {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
}

.navigation li {
	display: inline-block;
	padding: 0 25px 0 0;
}

.navigation li:last-child {
	padding: 0;
}

.navigation li a:after {
	content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    left: 50%;
    background: #fff;
    transition: all 0.6s;
    bottom: 0;
}

.navigation li a {
	text-decoration: none;
	text-transform: uppercase;
	font: 30px/1.5 PFDinTextCompPro-Bold, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.75);
	position: relative;
	transition: all 0.2s;
}

.navigation li a:hover {
	color: rgba(255, 255, 255, 1.0);
}

.navigation li a.underline {
	color: rgba(255, 255, 255, 1.0);
}

.navigation li a.underline:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
}

.navigation__mobile__back {
	display: inline-block;
}

.language {
	float: right;
	position: relative;
}

.language li {
	display: inline-block;
	padding: 0 10px 0 0;
	vertical-align: -webkit-baseline-middle;
}

.language li:nth-child(3n) {
	padding: 0;
}

.language li a {
	font: 20px/2 Sprite-Graffiti-Shadow, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.90);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s;
}

.language a:hover {
	color: #fff;
}

.banner {
	position: relative;
	background: url(../images/cover.jpg) no-repeat;
	min-height: 898px;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.banner__inner {
	height: 100%;
}

.anchor {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: -999;
	height: 96px;
}

/*------------------------------AUDIO----------------------------*/

.audio__wrapper {
	width: 30em; /* 480 */
	position: absolute;
	bottom: 3%;
	left: 50%;
	margin: -4.375em 0 0 -15em; /* 70 240 */
}

.audio__wrapper h1 {
	color: #fff; 
	text-align: center;
	font: 30px/1 Stylo-Bold, Arial, sans-serif;
}

/*----------------PLAYER-------------------------*/

	.audioplayer {
		height: 2.5em; /* 40 */
		color: #fff;
		text-shadow: 1px 1px 0 #000;
		border: 1px solid #ebe5e5;
		position: relative;
		z-index: 0;
		background: rgba(0, 0, 0, 0.75);
	}

	/* mini mode (fallback) */

	.audioplayer-mini {
		width: 2.5em; /* 40 */
		margin: 0 auto;
	}

	/* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */

	.audioplayer > div {
		position: absolute;
	}

	/* play/pause button */

	.audioplayer-playpause {
		width: 2.5em; /* 40 */
		height: 100%;
		text-align: left;
		text-indent: -9999px;
		cursor: pointer;
		z-index: 2;
		top: 0;
		left: 0;
		transition: 0.3s all;
	}

	.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
		border-right: 1px solid #555;
		border-right-color: rgba( 255, 255, 255, .1 );
	}

	.audioplayer-mini .audioplayer-playpause {
		width: 100%;
	}

	.audioplayer-playpause:hover,
	.audioplayer-playpause:focus {
		background-color: #fff;
		box-shadow: 0 1px 0 0 #fff;
	}

	.audioplayer-playpause a {
		display: block;
	}

	.audioplayer-stopped .audioplayer-playpause a {
		width: 0;
		height: 0;
		border: 0.5em solid transparent; /* 8 */
		border-right: none;
		border-left-color: #fff;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -0.5em 0 0 -0.25em; /* 8 4 */
		transition: 0.3s border-left-color;
	}

	.audioplayer-playing .audioplayer-playpause a {
		width: 0.75em; /* 12 */
		height: 0.75em; /* 12 */
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -0.375em 0 0 -0.375em; /* 6 */
	}

	.audioplayer-playing .audioplayer-playpause a:before,
	.audioplayer-playing .audioplayer-playpause a:after {
		width: 40%;
		height: 100%;
		background-color: #fff;
		content: '';
		position: absolute;
		top: 0;
		transition: 0.3s background-color;
	}

	.audioplayer-playing .audioplayer-playpause a:before {
		left: 0;
	}

	.audioplayer-playing .audioplayer-playpause a:after {
		right: 0;
	}

	.audioplayer-playpause:hover a:before,
	.audioplayer-playpause:focus a:before {
		background-color: #000;
	}

	.audioplayer-playpause:hover a:after,
	.audioplayer-playpause:focus a:after {
		background-color: #000;
	}

	.audioplayer-playpause:hover a,
	.audioplayer-playpause:focus a {
		border-left-color: #000;
	}
		
	/* timers */

	.audioplayer-time {
		width: 4.375em; /* 70 */
		height: 100%;
		line-height: 2.375em; /* 38 */
		text-align: center;
		z-index: 2;
		top: 0;
	}

	.audioplayer-time-current {
		border-left: 1px solid #111;
		border-left-color: rgba( 0, 0, 0, .25 );
		left: 2.5em; /* 40 */
	}

	.audioplayer-time-duration {
		border-right: 1px solid #555;
		border-right-color: rgba( 255, 255, 255, .1 );
		right: 2.5em; /* 40 */
	}

	.audioplayer-novolume .audioplayer-time-duration {
		border-right: 0;
		right: 0;
	}

	/* progress bar of loaded/played */

	.audioplayer-bar {
		height: 0.875em; /* 14 */
		cursor: pointer;
		z-index: 1;
		top: 50%;
		right: 6.875em; /* 110 */
		left: 6.875em; /* 110 */
		margin-top: -0.438em; /* 7 */
	}

	.audioplayer-novolume .audioplayer-bar {
		right: 4.375em; /* 70 */
	}

	.audioplayer-bar div {
		width: 0;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.audioplayer-bar-loaded {
		background-color: rgba(38, 38, 38, 0.25);
		z-index: 1;
	}

	.audioplayer-bar-played {
		background: #e2e0e2;
		z-index: 2;
	}

	/* volume button */

	.audioplayer-volume {
		width: 2.5em; /* 40 */
		height: 100%;
		border-left: 1px solid #111;
		border-left-color: rgba( 0, 0, 0, .25 );
		text-align: left;
		text-indent: -9999px;
		cursor: pointer;
		z-index: 2;
		top: 0;
		right: 0;
		transition: 0.3s background-color;
	}

	.audioplayer-volume:hover,
	.audioplayer-volume:focus {
		background-color: #fff;
	}

	.audioplayer-volume-button {
		width: 100%;
		height: 100%;
	}

	.audioplayer-volume-button a {
		width: 0.313em; /* 5 */
		height: 0.375em; /* 6 */
		background-color: #fff;
		display: block;
		position: relative;
		z-index: 1;
		top: 40%;
		left: 35%;
		transition: 0.3s background-color;
	}

	.audioplayer-volume-button a:before,
	.audioplayer-volume-button a:after {
		content: '';
		position: absolute;
	}

	.audioplayer-volume-button a:before {
		width: 0;
		height: 0;
		border: 0.5em solid transparent; /* 8 */
		border-left: none;
		border-right-color: #fff;
		z-index: 2;
		top: 50%;
		right: -0.25em;
		margin-top: -0.5em; /* 8 */
		transition: 0.3s border-right-color;
	}

	.audioplayer-volume:hover .audioplayer-volume-button a,
	.audioplayer-volume:focus .audioplayer-volume-button a {
		width: 0.313em; /* 5 */
		height: 0.375em; /* 6 */
		background-color: #000;
		display: block;
		position: relative;
		z-index: 1;
		top: 40%;
		left: 35%;
	}

	.audioplayer-volume:hover .audioplayer-volume-button a:before,
	.audioplayer-volume:focus .audioplayer-volume-button a:before {
		border-right-color: #000;
	}

	.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after {
		/* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
		width: 0.313em; /* 5 */
		height: 0.313em; /* 5 */
		border: 0.25em double;
		border-color: #fff;
		border-width: 0.25em 0.25em 0 0; /* 4 */
		left: 0.563em; /* 9 */
		top: -0.063em; /* 1 */
		-webkit-border-radius: 0 0.938em 0 0; /* 15 */
		-moz-border-radius: 0 0.938em 0 0; /* 15 */
		border-radius: 0 0.938em 0 0; /* 15 */
		-webkit-transform: rotate( 45deg );
		-moz-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		-o-transform: rotate( 45deg );
		transform: rotate( 45deg );
		transition: 0.3s border-color;
	}

	.audioplayer-volume:hover .audioplayer-volume-button a:after,	
	.audioplayer-volume:focus .audioplayer-volume-button a:after {	
		border-color: #000;
	}

	/* volume dropdown */

	.audioplayer-volume-adjust {
		height: 6.25em; /* 100 */
		cursor: default;
		position: absolute;
		left: -1px;
		right: -1px;
		top: -9999px;
		background-color: rgba(0, 0, 0, 0.75);
		border: 1px solid #ebe5e5;
		transition: 0.6s all;
	}

	.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
		opacity: 0;
	}

	.audioplayer-volume:hover .audioplayer-volume-adjust {
		top: auto;
		bottom: 100%;
	}

	.audioplayer-volume-adjust > div {
		width: 40%;
		height: 80%;
		background-color: rgba(38, 38, 38, 0.25);
		cursor: pointer;
		position: relative;
		z-index: 1;
		margin: 30% auto 0;
	}

	.audioplayer-volume-adjust div div {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background: #e2e0e2;
	}

	.audioplayer-novolume .audioplayer-volume {
		display: none;
	}

	/* CSS3 decorations */
	
	.audioplayer {
		-webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
		-moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
		box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
	}

	.audioplayer-volume-adjust {
		-webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
		-moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
		box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	}

	.audioplayer-bar,
	.audioplayer-volume-adjust > div {
		-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
		-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
		box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	}
	
	.audioplayer-volume-adjust div div,
	.audioplayer-bar-played {
		-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
		-moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
		box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	}

	.audioplayer-bar,
	.audioplayer-bar div,
	.audioplayer-volume-adjust div {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.audioplayer {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.audioplayer-volume-adjust {
		-webkit-border-top-left-radius: 2px;
		-webkit-border-top-right-radius: 2px;
		-moz-border-radius-top-left: 2px;
		-moz-border-radius-top-right: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	/* responsiveness */

	@media only screen and ( max-width: 32.5em ) /* 520 */
	{
		body {
			-webkit-box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, .5 ); /* 150 */
			-moz-box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, 5 ); /* 150 */
			box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, .5 ); /* 150 */
		}

		.audio__wrapper {
			width: 100%;
			position: static;
			padding: 34.75em 1.25em 1.25em 1.25em;
			margin: 0;
		}

		.audio__wrapper h1 {
			font: 24px/1 Stylo-Bold, Arial, sans-serif;
		}
	}

	@media only screen and ( max-width: 429px ) /* 520 */
	{
		.audio__wrapper h1 {
			font: 20px/1.25 Stylo-Bold, Arial, sans-serif;
		}
	}

/*-------------------------LightBox-------------------------------------*/

	.lb-loader,
	.lightbox {
		text-align:center;
		line-height:0
	}

	body:after {
		content:url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);display:none
	}

	.lb-dataContainer:after,.lb-outerContainer:after {
		content:"";
		clear:both
	}

	body.lb-disable-scrolling {
		overflow:hidden
	}

	.lightboxOverlay {
		position:absolute;
		top:0;
		left:0;
		z-index:9999;
		background-color:#000;
		filter:alpha(Opacity=80);
		opacity:.8;
		display:none
	}

	.lightbox {
		position:absolute;
		left:0;
		width:100%;
		z-index:10000;
		font-weight:400
	}

	.lightbox .lb-image {
		display:block;
		height:auto;
		max-width:inherit;
		max-height:none;
		border-radius:3px;
		border:4px solid #fff
	}

	.lightbox a img {
		border:none
	}

	.lb-outerContainer {
		position:relative;
		width:250px;
		height:250px;
		margin:0 auto;
		border-radius:4px;
		background-color:#fff
	}

	.lb-loader,.lb-nav {
		position:absolute;
		left:0
	}

	.lb-outerContainer:after {
		display:table
	}

	.lb-loader {
		top:43%;
		height:25%;
		width:100%
	}

	.lb-cancel {
		display:block;
		width:32px;
		height:32px;
		margin:0 auto;
		background:url(../images/loading.gif) no-repeat
	}

	.lb-nav {
		top:0;
		height:100%;
		width:100%;
		z-index:10
	}

	.lb-container>.nav {
		left:0
	}

	.lb-nav a {
		outline:0;
		background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
	}

	.lb-next,.lb-prev {
		height:100%;
		cursor:pointer;
		display:block
	}

	.lb-nav a.lb-prev {
		width:34%;
		left:0;
		float:left;
		background:url(../images/prev.png) left 48% no-repeat;
		filter:alpha(Opacity=0);opacity:0;
		-webkit-transition:opacity 0.3s;
		-moz-transition:opacity 0.3s;
		-o-transition:opacity 0.3s;
		transition:opacity 0.3s
	}

	.lb-nav a.lb-prev:hover {
		filter:alpha(Opacity=100);opacity:1
	}

	.lb-nav a.lb-next {
		width:64%;
		right:0;
		float:right;
		background:url(../images/next.png) right 48% no-repeat;
		filter:alpha(Opacity=0);
		opacity:0;
		-webkit-transition:opacity 0.3s;
		-moz-transition:opacity 0.3s;
		-o-transition:opacity 0.3s;
		transition:opacity 0.3s
	}

	.lb-nav a.lb-next:hover {
		filter:alpha(Opacity=100);opacity:1
	}

	.lb-dataContainer {
		margin:0 auto;
		padding-top:5px;
		width:100%;
		-moz-border-radius-bottomleft:4px;
		-webkit-border-bottom-left-radius:4px;
		border-bottom-left-radius:4px;
		-moz-border-radius-bottomright:4px;
		-webkit-border-bottom-right-radius:4px;
		border-bottom-right-radius:4px
	}

	.lb-dataContainer:after {
		display:table
	}

	.lb-data {
		padding:0 4px;
		color:#ccc
	}

	.lb-data .lb-details {
		width:85%;
		float:left;
		text-align:left;
		line-height:1.1em
	}

	.lb-data .lb-caption {
		font-size:13px;
		font-weight:700;
		line-height:1em
	}

	.lb-data .lb-caption a {
		color:#4ae
	}

	.lb-data .lb-number {
		display:block;
		clear:left;
		padding-bottom:1em;
		font-size:12px;
		color:#999
	}

	.lb-data .lb-close {
		display:block;
		float:right;
		width:30px;
		height:30px;
		background:url(../images/close.png) top right no-repeat;
		text-align:right;
		outline:0;
		filter:alpha(Opacity=70);
		opacity:.7;
		-webkit-transition:opacity 0.2s;
		-moz-transition:opacity 0.2s;
		-o-transition:opacity 0.2s;
		transition:opacity 0.2s
	}

	.lb-data .lb-close:hover {
		cursor:pointer;
		filter:alpha(Opacity=100);
		opacity:1
	}

/*===========================-----------------------------CONTENT----------------------------=========================================*/

.content {
	position: relative;
	overflow: hidden;
	border-top: 1px solid rgba(255, 255, 255, 0.75);	
    background: #000;
}

.content__content {
	width: 100%;
}

/*------------------------------------------BAND-------------------------------------*/

.band {
	display: none;
	margin: 0 0 3% 0;
}

.band__info {
	margin: 5% 0 0 0;
	font: 28px/1.5 GeorgiaItalic, Arial, sans-serif;
	white-space: pre-line;
	text-align: justify;
	color: rgba(255, 255, 255, 0.90);
}

.band__info span {
	color: #fff;
}

.band h5 {
	margin: 10% 0 10% 0;
	font: 28px/1 PFDinTextCompPro-Bold, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
} 

.members {
	width: 100%;
	padding: 0 0 15% 0;
}

.members__block {
	width: 17.5%;
    float: left;
    margin: 0 10% 0 0;
}

.members__block__photo img {
	display: block;
    width: 100%;
    height: 100%;
}

.members__block:last-child {
	 margin: 0;
}

.members__block__text p {
	color: #fff;
	font: 20px/1 PFDinTextCompPro-Bold, Arial, sans-serif;
	padding: 10% 0 0 0;
}

.members__block__text p:last-child {
	font: 18px/1 GeorgiaItalic, Arial, sans-serif;
	padding: 10% 0 0 0;
}

/*-----------------------PHOTO-----------------------*/

.portfolio {
	display: none;
	margin: 0 0 3% 0;	
}

.subscribe{
	margin: 5% 0 0 0;s
	padding: 0 0 0 10%;
	display: block;
	text-align: center;	
}
.subscribe a {
	display: inline-block;
	text-decoration: none;
	font: 28px/1 PFDinTextCompPro-Bold, Arial, sans-serif;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.75);
	transition: all 0.3s;
}

.subscribe a:hover{
	color: rgba(255, 255, 255, 1.0);
}

.up {
	font: 28px/1 PFDinTextCompPro-Bold, Arial, sans-serif;
	text-transform: uppercase;
	float: right;
	margin: 0 2.5% 3% 0;
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	position: relative;
	z-index: 999;
	transition: all 0.3s;
}

.up:after {
	background: url(../images/arrow_white.png)no-repeat;
	content: "";
    width: 25px;
    min-height: 100%;
    background-size: contain;
    position: absolute;
    transform: scale(-1, 1);
}

.up:hover {
	color: rgba(255, 255, 255, 1.0);
}

.photo {
	padding: 5% 0;
}

.photo .photo__block {
	float: left;
	width: 30%;
	margin: 2% 5% 2% 0;
	position: relative;
	padding-bottom: 25%;
	border: 1px solid #fff;
}

.photo__block .photo__block__img {
	width: 100%;
}

.photo__block .photo__block__img img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.photo .photo__block:nth-child(3n){
	margin: 2% 0%;
}

/*------------------------------------------------VIDEO-------------------------------------*/

.videogallery {
	display: none;
	margin: 0 0 3% 0;
}

.video {
	padding: 5% 0 0 0;
}

.video .video__block {
	float: left;
	width: 29.99%;
	margin: 3% 5% 5% 0;
	position: relative;
	padding-bottom: 25%;
	border: 1px solid #fff;
}

.video__block .video__block__img {
	width: 100%;
}

.video__block .video__block__img iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

.video .video__block:nth-child(3n){
	margin: 3% 0% 5% 0;
}

/*------------------------------------------INFORMATION----------------------------------------*/

.information {
	display: none;
	text-align: center;
	font: 28px/1.5 PFDinTextCompPro-Bold, Arial, sans-serif;
	margin: 5% 0 3% 0;
}

.information__contacts {
	padding: 0 0 10% 0;
}

.information h4 {
	color: rgba(255, 255, 255, 1.0);
	text-transform: uppercase;
	display: block;
}

.information a {
	text-decoration: none;
	text-transform: none;
	color: rgba(255, 255, 255, 0.80);
	transition: all 0.3s;
}

.information a:hover {
	color: rgba(255, 255, 255, 1.0);
}

.information p {
	color: rgba(255, 255, 255, 1.0);
}

/*---------------------------------------FOOTER-----------------------------------*/

footer {
	position: relative;
	overflow: hidden;
}

.footer {
	border-top: 1px solid rgba(255, 255, 255, 0.75);	
	width: 100%;
	background: #000;
	text-align: center;
}

.footer .copyright {
	color: rgba(255, 255, 255, 0.75);
	padding: 7% 0 2% 0;
	font: 12px ExposureTwoC, Arial, sans-serif;
}

.socials {
	padding: 5% 0 0 0;
	text-align: center;
}

.socials li {
	display: inline-block;
	padding: 0 2% 0 0;
	width: 6.5%;
}

.socials li:last-child {
	padding: 0;
}

.socials li a {
	padding: 50%;
	display: block;
	position: relative;
	border: 1px solid #fff;
	transition: all 0.3s; 
}

.socials li a:hover {
	background: rgba(255, 255, 255, 1.0);
	border: 1px solid #fff;
}

.socials li a:after {
	content: "";
    position: absolute;
    background: url(../images/socilas_new_white.png);
    width: 45%;
    height: 50%;
    background-size: cover;
    background-position: 0%;
    top: 25%;
    left: 30%;
    transition: all 0.3s;
}

.socials li:nth-child(2n) a:after {
    background-position: 16%;
    left: 33%;
    width: 40%;
}

.socials li:nth-child(3n) a:after {
    background-position: 29%;
    width: 45%;
}

.socials li:nth-child(4n) a:after {
    background-position: 45%;
    left: 25%;
    width: 50%;
}

.socials li:nth-child(5n) a:after {
    background-position: 63%;
    left: 23%;
    width: 54%;
}

.socials li:nth-child(6n) a:after {
	background-position: 78%;
    left: 34%;
    width: 32%;
}

.socials li:last-child a:after {
    background-position: 100%;
    left: 16%;
    width: 66.7%;
}

.socials li a:hover:after {
	background: url(../images/socilas_new_black.png);
    background-size: cover;
}

.socials li:nth-child(2n) a:hover:after {
    background-position: 16%;
    left: 33%;
    width: 40%;
}

.socials li:nth-child(3n) a:hover:after {
    background-position: 29%;
    width: 45%;
}

.socials li:nth-child(4n) a:hover:after {
    background-position: 45%;
    left: 25%;
    width: 50%;
}

.socials li:nth-child(5n) a:hover:after {
    background-position: 63%;
    left: 23%;
    width: 54%;
}

.socials li:nth-child(6n) a:hover:after {
	background-position: 78%;
    left: 34%;
    width: 32%;
}

.socials li:last-child a:hover:after {
    background-position: 100%;
    left: 16%;
    width: 66.7%;
}

/*---------------------------------------=========MEDIA REQUIERS========------------------------------------------*/

/*------------------------------------1080px--------------------------------------*/

@media only screen and (max-width: 1080px) {

	.header {
		padding: 0 20px;
	}

	.content__content {
		padding: 0 20px;
	}

	.footer__content {
		padding: 0 20px;
	}

}

/*---------------------------------------1024px--------------------------------------------*/

@media only screen and (max-width: 1024px) {
	
	/*----------------HEADER-----------------*/

	.logo a {
		font: 30px/1 Sprite-Graffiti-Shadow, Arial, sans-serif;
	}

	.navigation li a {
		font: 24px/1.5 PFDinTextCompPro-Bold, Arial, sans-serif;
	}

	.language li a {
	    font: 18px/2 Sprite-Graffiti-Shadow, Arial, sans-serif;
	}

/*--------------------CONTENT--------------------*/

	.band__info {
		font: 24px/1.5 GeorgiaItalic, Arial, sans-serif;
	}

}	

/*---------------------------------------830px--------------------------------------------*/

@media only screen and (max-width: 830px) {
	
	.logo a {
		font: 26px/1 Sprite-Graffiti-Shadow, Arial, sans-serif;
	}

	.navigation li a {
		font: 22px/1.5 PFDinTextCompPro-Bold, Arial, sans-serif;
	}

	.language li a {
	    font: 16px/2 Sprite-Graffiti-Shadow, Arial, sans-serif;
	}

}	

/*----------------------------------------------768px-------------------------------------------*/

@media only screen and (max-width: 768px){

/*--------------------------------HEADER----------------------------*/
	
	.header__mobile {
		/*height: 100%;*/
	}

	.header {
		position: absolute;
	}

	.header__content__mobile {
		border-bottom: none;
	}

	.language li a {
		font: 20px/2 Sprite-Graffiti-Shadow, Arial, sans-serif;
	}

	.banner {
		min-height: 640px;
	}

	.banner__inner {
		transition: 0.5s background-color;
	}

	.banner__inner-darker {
		background-color: rgba(0, 0, 0, 0.90);
	}

	.anchor {
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 0px;
	}

	.audioplayer {
		z-index: 1;
	}

	.navigation li a:hover:after {
		content: "";
	    position: absolute;
	    height: 1px;
	    width: 100%;
	    left: 0%;
	    background: #fff;
	    transition: all 0.6s;
	    bottom: 0;
	}

	.logo {
		display: none;
	}

	.top-animate {
		top: 7px !important;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.mid-animate {
		opacity: 0;
	}

	.bottom-animate {
		top: 7px !important;
		-webkit-transform: rotate(-225deg);
		transform: rotate(-225deg);
	}

	.top-menu {
		top: 0px;
		width: 27px;
		height: 3px;
	}

	.mid-menu {
		top: 8px;
		width: 27px;
		height: 3px;
	}

	.bottom-menu {
		top: 15px;
		width: 27px;
		height: 3px;
	}

	.menui {
		background: #fff;
		transition: 0.6s ease;
		transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
		position: absolute;
	}

	.icon {
	  	z-index: 999;
	    position: absolute;
	    display: block;
	    height: 20px;
	    width: 28px;
	    top: 51px;
	}

	.navigation {
		top: 0;
		left: 0;
		display: none;
		position: absolute;
		width: 100%;
		transition: 0.5s all;
	}

	.navigation li {
		display: block;
		padding: 0px;
	}

	.navigation li a {
		font: 30px/3 PFDinTextCompPro-Bold, Arial, sans-serif;
	}

	.navigation li:first-child {
		margin-top: 90px;
	}

	.navigation__mobile {
		display: inline-block;
	}

/*--------------------------------CONTENT----------------------------*/

	.up {
		float: none;
		display: block;
		text-align: center;
	}

	.band__info {
		font: 20px/1.5 GeorgiaItalic, Arial, sans-serif;
	}

	.members {
		padding: 0;
	}

	.members__block {
	    width: 45%;
	    margin: 0 9% 10% 0;
	    vertical-align: top;
    	display: inline-block;
    	float: none;
	}

	.members__block:nth-child(2n) {
		margin: 0 0 10% 0;
	}

	.members__block__text {
		text-align: center;
	}

	.photo {
		padding: 0;
	}
	
	.photo .photo__block {
	    width: 47.4%;
	    margin: 10% 5% 0 0;
	    padding-bottom: 40%;
	}

	.photo .photo__block:nth-child(2n) {
    	margin: 10% 0 0 0; 
	}

	.photo .photo__block:nth-child(3n) {
    	margin: 10% 5% 0 0; 
	}

	.photo .photo__block:nth-child(6n) {
    	margin: 10% 0 0 0; 
	}

	.photo .photo__block:last-child {
    	margin: 10% 0;
	}

	.video {
		padding: 0;
	}

	.video .video__block {
	    width: 47.4%;
	    margin: 10% 5% 0 0;
	    padding-bottom: 40%;
	}

	.video .video__block:nth-child(2n) {
    	margin: 10% 0 0 0; 
	}

	.video .video__block:nth-child(3n) {
    	margin: 10% 5% 0 0; 
	}

	.video .video__block:nth-child(6n) {
    	margin: 10% 0 0 0; 
	}

	.video .video__block:last-child {
	    margin: 10% 0; 
	}

	.information {
	    font: 26px/1.5 PFDinTextCompPro-Bold, Arial, sans-serif;
	    margin: 10% 0;
	}

/*----------------------------------FOOTER--------------------------------------------*/

	.socials li {
		width: 10%;
	}
}

/*------------------------------------------------------468px----------------------------------------*/

@media only screen and (max-width: 468px) {

/*----------------------------------------CONTENT----------------------------------	*/
	
	.band__info {
		font: 16px/1.5 GeorgiaItalic, Arial, sans-serif;
	}

	.members {
		padding: 0 0 10% 0;
	}

	.members__block {
	    width: 100%;
	    margin: 0 0 10% 0;
	}

	.members__block__text p {
		font: 26px/1 PFDinTextCompPro-Bold, Arial, sans-serif;
	}

	.photo {
		padding: 0;
	}
	
	.photo .photo__block {
	    width: 100%;
	    margin: 10% 0 0 0;
	    padding-bottom: 70%;
	}

	.photo .photo__block:nth-child(3n) {
    	margin: 10% 0 0 0;
	}

	.photo .photo__block:last-child {
   		margin: 10% 0 10% 0;
	}

	.video {
		padding: 0;
	}
	
	.video .video__block {
	    width: 100%;
	    margin: 10% 0 0 0;
	    padding-bottom: 70%;
	}

	.video .video__block:nth-child(3n) {
    	margin: 10% 0 0 0;
	}

	.video .video__block:last-child {
    	margin: 10% 0 10% 0;
	}

	/*----------------------------------FOOTER--------------------------------------------*/

	.socials li {
		width: 11.3%;
	}	
}

/*-----------------------------------------380px----------------------------------------------*/

@media only screen and (max-width: 380px) {
	
	.band__info {
		font: 12px/1.5 GeorgiaItalic, Arial, sans-serif;
	}
}